# Memory / State Files
*.pkl
*_restart_state.pkl

# Python virtual environment
.venv/
venv/

# IDE / OS specific
.idea/
.vscode/
__pycache__/
*.pyc
*.pyo
.DS_Store

# Log files
*.log

# Other potentially unwanted files
notes.txt
_core_backups/
_core_verify_temp*/